{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{#--- STYLES ---------------------------------------------------------------------------------------------------------#}

{% block styles %}
    <link href="{% static 'ipg_seq/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{#--- TITLE ----------------------------------------------------------------------------------------------------------#}

{% block title %}
    {% trans "Questionnaire 1/4" %}
{% endblock %}


{#--- CONTENT --------------------------------------------------------------------------------------------------------#}

{% block content %}

    <!-- Panel: Question(s) -->

    <div class="card">
        <div class="card card-header">
            {% blocktrans trimmed %}
                Please answer the following questions before you can complete the study.
            {% endblocktrans %}
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        {% blocktrans trimmed %}
                            If John can drink one barrel of water in 6 days,
                            and Mary can drink one barrel of water in 12 days,
                            how long would it take them to drink one barrel of water together?
                        {% endblocktrans %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-2 center">
                        <div class="input-group input-group-sm" style="padding-top: 5pt">
                            <input type="number" min="0" step="0.01" class="form-control" name="crt4" required>
                            <div class="input-group-append">
                                <div class="input-group-text"><span class="input-group-addon">{% trans "days" %}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        {% blocktrans trimmed %}
                            Jerry received both the 15th highest
                            and the 15th lowest mark in the class.
                            How many students are in the class?
                        {% endblocktrans %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-2 center">
                        <div class="input-group input-group-sm" style="padding-top: 5pt">
                            <input type="number" min="0" step="1" class="form-control" name="crt5" required>
                            <div class="input-group-append">
                                <div class="input-group-text"><span class="input-group-addon">{% trans "students" %}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
<!--
                <hr>
                <div class="row">
                    <div class="col-12">
                        {% blocktrans trimmed %}
                            A man buys a pig for $60, sells it for $70,
                            buys it back for $80, and sells it finally for $90.
                            How much has he made?
                        {% endblocktrans %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-2 center">
                        <div class="input-group input-group-sm" style="padding-top: 5pt">
                            <input type="number" step="0.01" class="form-control" name="crt6" required>
                            <div class="input-group-append">
                                <div class="input-group-text"><span class="input-group-addon">$</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        {% blocktrans trimmed %}
                            Simon decided to invest $8,000 in the stock market one day early in 2008.
                            Six months after he invested, on July 17, the stocks he had purchased were down 50%.
                            Fortunately for Simon, from July 17 to October 17, the stocks he had purchased
                            went up 75%. At this point, Simon:
                        {% endblocktrans %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-6 small">
                        <table>
                            <tr>
                                <td><input type="radio" class="radio" name="crt7" id="crt7_1" value="1" required></td>
                                <td>
                                    <label for="crt7_1">{% trans "has broken even in the stock market." %}</label>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="radio" class="radio" name="crt7" id="crt7_2" value="2" required></td>
                                <td>
                                    <label for="crt7_2">{% trans "is ahead of where he began." %}</label>
                                </td>
                            </tr>
                            <tr>
                                <td><input type="radio" class="radio" name="crt7" id="crt7_3" value="3" required></td>
                                <td>
                                    <label for="crt7_3">{% trans "has lost money." %}</label>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
-->                
            </div>
        <br>
        </div>
    </div>

    {{ form.errors }}

    <div style="text-align: right; padding-top: 5pt">
        {% next_button %}
    </div>

{% endblock %}
