{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load humanize %}
{% load i18n %}


{#--- STYLES ---------------------------------------------------------------------------------------------------------#}

{% block styles %}
    <link href="{% static 'ipg_seq/css/custom_instructions.css' %}" rel="stylesheet"/>
    <link href="{% static 'ipg_seq/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{#--- TITLE ----------------------------------------------------------------------------------------------------------#}

{% block title %}
    {% trans "Welcome" %}
{% endblock %}


{#--- CONTENT --------------------------------------------------------------------------------------------------------#}

{% block content %}

    <div class="card">
    <div class="card-body">

            <p class="instrpar">
                Dear participant,
            </p>
            <p class="instrpar">
                {% blocktrans trimmed %}
                    Thank you very much for accepting our invitation to take part in this experiment. We are researchers
                    from the University of Innsbruck conducting a short study which is intended to take about 10 minutes.
                    With your participation, you will make an important contribution to research and you can earn money
                    throughout the experiment.
                {% endblocktrans %}
            </p>

            <p class="instrpar">
                {% blocktrans trimmed %}
                    All data will be anonymous and no individual results will be disclosed publicly or to other
                    participants of the experiment. The data will only be used for scientific purposes. This online
                    study adheres to the principles of economic experiments: participants are not deceived and
                    earnings are paid out in real. We guarantee at each stage of the data analyses that we will not
                    trace back experimental decisions to participants’ identities.
                {% endblocktrans %}
            </p>
            <p class="instrpar">
                {% blocktrans trimmed %}
                    <i><b>
                        Please do not continue if you are on a mobile device &#8211;
                        the experiment cannot be properly displayed on small screens.
                        <br>
                    </b>
                        Also note that you will not be able to go back to previous pages throughout the whole study.
                    </i>
                {% endblocktrans %}
            </p>
            <p class="instrpar">
                {% blocktrans trimmed %}
                    Thank you very much for participating!
                {% endblocktrans %}
            </p>
            <p class="instrpar">
                Christoph Huber, PhD<br>
            </p>

    </div>
    </div>

    <div style="text-align: right; padding-top: 5px">
        {% next_button %}
    </div>

{% endblock %}