{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load humanize %}
{% load i18n %}


{#--- STYLES ---------------------------------------------------------------------------------------------------------#}

{% block styles %}
    <link href="{% static 'ipg_seq/css/custom_instructions.css' %}" rel="stylesheet"/>
    <link href="{% static 'ipg_seq/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{#--- TITLE ----------------------------------------------------------------------------------------------------------#}

{% block title %}
    {% trans "Questions" %}
{% endblock %}


{#--- CONTENT --------------------------------------------------------------------------------------------------------#}

{% block content %}

    <div class="card">
        <div class="card-header">
            Please answer the questions below before entering the first round of the game.
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-7">
                        With how many other participants are you randomly grouped together?
                    </div>
                    <div class="col-5">
                        <input type="number" step="0.001" name="cq1" id="cq1" class="form-control">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-7">
                        What is your payoff in this game if you are Player 2 and Player 1 has chosen "right" in Decision 1?
                    </div>
                    <div class="col-5">
                        <input type="number" step="0.001" name="cq2" id="cq2" class="form-control">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-7">
                        What is your payoff in this game if you are Player 1, you and Player 2 have both chosen "down" in the first
                        two decisions, and you choose "right" in Decision 3?
                    </div>
                    <div class="col-5">
                        <input type="number" step="0.001" name="cq3" id="cq3" class="form-control">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-7">
                        What is your payoff in this game if you are Player 1, you and Player 2 have
                        chosen "down" in the first three decisions, but Player 2 chooses "right" in Decision 4?
                    </div>
                    <div class="col-5">
                        <input type="number" step="0.001" name="cq4" id="cq4" class="form-control">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-7">
                        What is your payoff in this game if both players including yourself have
                        chosen "down" in all eight decisions?
                    </div>
                    <div class="col-5">
                        <input type="number" step="0.001" name="cq5" id="cq5" class="form-control">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div style="text-align: right; padding-top: 5px">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal">
          View full instructions
        </button>
        <button type="button" class="btn btn-primary" onclick="validateForm();">Next</button>
        <button id="checkdone" style="display: none"></button>

    </div>

        <!-- Game Tree  vertical -->
            <div style="width: 80%; margin-left: auto; margin-right: auto">
                <svg width="100%" height="1050px" style="transform: scale(1); margin-bottom: -150px;">

                    <!-- nodes -->
                    {% for index, price, xpoint, position in GameTree %}
                        <text class="gtprice" x="0" y="{{ xpoint|add:50 }}" transform="rotate(-30 5,{{ xpoint }})" fill="black" font-size="{{ font_size_price }}">{% trans "Decision" %} {{ position }}</text>
                        <a data-toggle="tooltip" data-placement="left" title="{{ tooltip_price }}">
                            <text class="gtprice" x="85" y="{{ xpoint|add:50 }}" fill="black" font-size="{{ font_size_price }}">{% trans "Player" %} {{ index }}</text>
                        </a>
                        <circle cx="150" cy="{{ xpoint|add:45 }}" r="5" fill="black" />
                        <polyline points="150,{{ xpoint|add:40 }} 150,{{ xpoint|add:add_to_last_price }}" style="fill: none; stroke: black"/>
                        <text x="155" y="{{ xpoint|add:100 }}" fill="black" font-size="{{ font_size_buy }}">{% trans "down" %}</text>
                    {% endfor %}

                    <!-- outcomes -->
                    {% for index, price, xpoint, position in GameTree %}
                        <polyline points="150,{{ xpoint|add:45 }} 280,{{ xpoint|add:45 }}" style="fill: none; stroke: black"/>
                        <text x="185" y="{{ xpoint|add:40 }}" fill="black" font-size="{{ font_size_buy }}">{% trans "right" %}</text>
                    {% endfor %}
                    {% for str, xpoints in GTpayoffs_str %}
                        <a data-toggle="tooltip" data-placement="right" title="{{ tooltip_payoff }}">
                            <text class="gtoutcome" x="285" y="{{ xpoints|add:45 }}" fill="black" font-size="{{ font_size_payoff }}" font-weight="bold">{{ str }}</text>
                        </a>
                    {% endfor %}
                    {% for str, xpoints in GTpayoffN %}
                        <a data-toggle="tooltip" data-placement="right" title="{{ tooltip_payoff }}">
                            <text class="gtoutcome" x="128" y="{{ xpoints|add:add_to_last_payoff }}" fill="black" font-size="{{ font_size_payoff }}" font-weight="bold">{{ str }}</text>
                        </a>
                    {% endfor %}

                </svg>
            </div>



    <!-- Modal with INSTRUCTIONS -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Instructions</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">


        <div class="card">
    <div class="card-body">

        <p class="instrpar">
            This is an experiment on decision-making. <b>Please read all instructions carefully and make sure that
            you understand the task</b> and how you can <b>earn bonus payments</b>. On the next page, you will have to answer some questions on the task
            before you can continue with the study.
        </p>

        <p class="instrheading">
            Description of the task
        </p>
        <p class="instrpar">
            To play this game, we form groups of <b>{{ num_players|apnumber }} players</b> &ndash; that is, you will
            be randomly grouped with {{ num_playersminus1|apnumber }} other participant.
        </p>
        <p class="instrpar">
            The {{ num_players|apnumber }} players take turns in choosing between two actions,
            <b>right</b> or <b>down</b>, in each of up to eight decisions.
        </p>
        <p class="instrpar">
            The {{ num_players|apnumber }} <b>players take their decisions one after
            another</b>, starting with Player 1.
        </p>
        <p class="instrpar">
            The 'game tree' diagram below is a graphical representation of the game and shows all player's available
            actions and payoffs. All the payoffs are in pence &ndash; that is, in 0.01 pounds sterling (GBP, £).
            Each node represents a possible decision (Decision 1 to Decision 8).
            The label (Player 1 or Player 2) at each node indicates who will make a decision at that node,
            given that no previous player has chosen "right".
        </p>

        <!-- Game Tree  horizontal -->
        {% if graph == 'horizontal' %}
            <div style="margin-left: 20px; margin-right: auto">
                <svg width="800px" height="230px" style="transform: scale(0.9)">

                    <!-- nodes -->
                    {% for index, price, xpoint in GameTree %}
                        <a data-toggle="tooltip" data-placement="top" title="{{ tooltip_price }}">
                            <text class="gtprice" x="{{ xpoint }}" y="40" fill="black" font-size="{{ font_size_price }}">{% trans "Player" %} {{ index }}</text>
                        </a>
                        <circle cx="{{ xpoint|add:5 }}" cy="50" r="5" fill="black" />
                        <polyline points="{{ xpoint }},50 {{ xpoint|add:add_to_last_price }},50" style="fill: none; stroke: black"/>
                        <text x="{{ xpoint|add:place_of_buy }}" y="65" fill="black" font-size="{{ font_size_buy }}">down</text>
                    {% endfor %}

                    <!-- outcomes -->
                    {% for index, price, xpoint in GameTree %}
                        <polyline points="{{ xpoint|add:5 }},50 {{ xpoint|add:5 }},180" style="fill: none; stroke: black"/>
                        <text x="{{ xpoint|add:7 }}" y="125" fill="black" font-size="{{ font_size_buy }}">right</text>
                    {% endfor %}
                    {% for str, xpoints in GTpayoffs_str %}
                        <a data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_payoff }}">
                            <text class="gtoutcome" x="{{ xpoints }}" y="200" fill="black" font-size="{{ font_size_payoff }}" font-weight="bold">{{ str }}</text>
                        </a>
                    {% endfor %}
                    {% for str, xpoints in GTpayoffN %}
                        <a data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_payoff }}">
                            <text class="gtoutcome" x="{{ xpoints|add:add_to_last_payoff }}" y="55" fill="black" font-size="{{ font_size_payoff }}" font-weight="bold">{{ str }}</text>
                        </a>
                    {% endfor %}

                </svg>
            </div>

        <!-- Game Tree  vertical -->
        {% elif graph == 'vertical' %}
            <div style="width: 80%; margin-left: auto; margin-right: auto">
                <svg width="100%" height="{{ height }}px" style="transform: scale(1); margin-bottom: -150px;">

                    <!-- nodes -->
                    {% for index, price, xpoint, position in GameTree %}
                        <text class="gtprice" x="0" y="{{ xpoint|add:50 }}" transform="rotate(-30 5,{{ xpoint }})" fill="black" font-size="{{ font_size_price }}">{% trans "Decision" %} {{ position }}</text>
                        <a data-toggle="tooltip" data-placement="left" title="{{ tooltip_price }}">
                            <text class="gtprice" x="85" y="{{ xpoint|add:50 }}" fill="black" font-size="{{ font_size_price }}">{% trans "Player" %} {{ index }}</text>
                        </a>
                        <circle cx="150" cy="{{ xpoint|add:45 }}" r="5" fill="black" />
                        <polyline points="150,{{ xpoint|add:40 }} 150,{{ xpoint|add:add_to_last_price }}" style="fill: none; stroke: black"/>
                        <text x="155" y="{{ xpoint|add:place_of_buy }}" fill="black" font-size="{{ font_size_buy }}">{% trans "down" %}</text>
                    {% endfor %}

                    <!-- outcomes -->
                    {% for index, price, xpoint, position in GameTree %}
                        <polyline points="150,{{ xpoint|add:45 }} 280,{{ xpoint|add:45 }}" style="fill: none; stroke: black"/>
                        <text x="185" y="{{ xpoint|add:40 }}" fill="black" font-size="{{ font_size_buy }}">{% trans "right" %}</text>
                    {% endfor %}
                    {% for str, xpoints in GTpayoffs_str %}
                        <a data-toggle="tooltip" data-placement="right" title="{{ tooltip_payoff }}">
                            <text class="gtoutcome" x="285" y="{{ xpoints|add:45 }}" fill="black" font-size="{{ font_size_payoff }}" font-weight="bold">{{ str }}</text>
                        </a>
                    {% endfor %}
                    {% for str, xpoints in GTpayoffN %}
                        <a data-toggle="tooltip" data-placement="right" title="{{ tooltip_payoff }}">
                            <text class="gtoutcome" x="128" y="{{ xpoints|add:add_to_last_payoff }}" fill="black" font-size="{{ font_size_payoff }}" font-weight="bold">{{ str }}</text>
                        </a>
                    {% endfor %}

                </svg>
            </div>
        {% endif %}

        <p class="instrpar">
            As you can see in the diagram, each player has the same two possible actions available: "right" or "down".
            If the player whose turn it is at a given decision chooses "right", that will end the game.
            On the other hand, if the player whose turn it is at a given decision chooses "down", then the
            game will continue and it is again the other player's turn to choose one of the two actions, "right" or "down".
        </p>

        <p class="instrheading">
            Payoffs
        </p>
        <p class="instrpar">
            At each branch of the game tree diagram above, at which the game ends, we show the payoffs for the two players
            in brackets. Player 1's payoff at a given branch is always the first number; Player 2's payoff
            is always the second number.
        </p>
        <p class="instrpar">
            <u><i>Examples:</i></u>
            <ul>
                <li>
                    {% if payoff1_i == 1 %}
                        If Player 1 chooses "right" in Decision 1, then he/she will receive {{ payoff1_i|floatformat:0 }} penny and Player 2
                        will receive 0 {{ exp_currency }}.
                    {% else %}
                        If Player 1 chooses "right" in Decision 2, then he/she will receive {{ payoff1_i|floatformat:0 }} {{ exp_currency }} and Player 2
                        will receive 0 {{ exp_currency }}.
                    {% endif %}
                </li>

                <div style="width: 80%; height:800px; margin-left: auto; margin-right: auto; margin-bottom: -100px;">
                    <svg width="100%" height="900px" style="transform: scale(.75); margin-top:-100px;">

                        <!-- nodes -->
                        {% for index, price, xpoint, position in GameTree %}
                            <text class="gtprice" x="0" y="{{ xpoint|add:50 }}" transform="rotate(-30 5,{{ xpoint }})" fill="black" font-size="{{ font_size_price }}">{% trans "Decision" %} {{ position }}</text>
                            <a data-toggle="tooltip" data-placement="left" title="{{ tooltip_price }}">
                                {% if position == 1 %}
                                    <text class="gtprice" x="85" y="{{ xpoint|add:50 }}" fill="red" font-size="{{ font_size_price }}">{% trans "Player" %} {{ index }}</text>
                                {% else %}
                                    <text class="gtprice" x="85" y="{{ xpoint|add:50 }}" fill="black" font-size="{{ font_size_price }}">{% trans "Player" %} {{ index }}</text>
                                {% endif %}
                            </a>
                            <circle cx="150" cy="{{ xpoint|add:45 }}" r="5" fill="black" />
                            <polyline points="150,{{ xpoint|add:40 }} 150,{{ xpoint|add:add_to_last_price }}" style="fill: none; stroke: black"/>
                            <text x="155" y="{{ xpoint|add:place_of_buy }}" fill="black" font-size="{{ font_size_buy }}">{% trans "down" %}</text>
                        {% endfor %}

                        <!-- outcomes -->
                        {% for index, price, xpoint, position in GameTree %}
                            {% if position == 1 %}
                                <polyline points="150,{{ xpoint|add:45 }} 280,{{ xpoint|add:45 }}" style="fill: none; stroke: red"/>
                                <text x="185" y="{{ xpoint|add:40 }}" fill="red" font-size="{{ font_size_buy }}">{% trans "right" %}</text>
                            {% else %}
                                <polyline points="150,{{ xpoint|add:45 }} 280,{{ xpoint|add:45 }}" style="fill: none; stroke: black"/>
                                <text x="185" y="{{ xpoint|add:40 }}" fill="black" font-size="{{ font_size_buy }}">{% trans "right" %}</text>
                            {% endif %}
                        {% endfor %}
                        {% for str, xpoints in GTpayoffs_str %}
                            <a data-toggle="tooltip" data-placement="right" title="{{ tooltip_payoff }}">
                            {% if str == '(1, 0)' %}
                                <text class="gtoutcome" x="285" y="{{ xpoints|add:45 }}" fill="red" font-size="{{ font_size_payoff }}" font-weight="bold">{{ str }}</text>
                            {% else %}
                                <text class="gtoutcome" x="285" y="{{ xpoints|add:45 }}" fill="black" font-size="{{ font_size_payoff }}" font-weight="bold">{{ str }}</text>
                            {% endif %}
                            </a>
                        {% endfor %}
                        {% for str, xpoints in GTpayoffN %}
                            <a data-toggle="tooltip" data-placement="right" title="{{ tooltip_payoff }}">
                                <text class="gtoutcome" x="128" y="{{ xpoints|add:add_to_last_payoff }}" fill="black" font-size="{{ font_size_payoff }}" font-weight="bold">{{ str }}</text>
                            </a>
                        {% endfor %}

                    </svg>
                </div>

                <li>
                    If Player 1 chooses "down" in Decision 1, and Player 2 chooses "right" in Decision 2, then Player 2 will receive {{ payoff2_i|floatformat:0 }}
                    {{ exp_currency }} and Player 1 will receive {{ payoff2_j }} {{ exp_currency }}.
                </li>

                <div style="width: 80%; height:800px; margin-left: auto; margin-right: auto; margin-bottom: -100px;">
                    <svg width="100%" height="900px" style="transform: scale(.75); margin-top:-100px;">

                        <!-- nodes -->
                        {% for index, price, xpoint, position in GameTree %}
                            <text class="gtprice" x="0" y="{{ xpoint|add:50 }}" transform="rotate(-30 5,{{ xpoint }})" fill="black" font-size="{{ font_size_price }}">{% trans "Decision" %} {{ position }}</text>
                            <a data-toggle="tooltip" data-placement="left" title="{{ tooltip_price }}">
                            {% if position == 2 %}
                                <text class="gtprice" x="85" y="{{ xpoint|add:50 }}" fill="red" font-size="{{ font_size_price }}">{% trans "Player" %} {{ index }}</text>
                            {% else %}
                                <text class="gtprice" x="85" y="{{ xpoint|add:50 }}" fill="black" font-size="{{ font_size_price }}">{% trans "Player" %} {{ index }}</text>
                            {% endif %}
                            </a>
                            {% if position == 2 %}
                                <circle cx="150" cy="{{ xpoint|add:45 }}" r="5" fill="red" />
                            {% else %}
                                <circle cx="150" cy="{{ xpoint|add:45 }}" r="5" fill="black" />
                            {% endif %}
                            <polyline points="150,{{ xpoint|add:40 }} 150,{{ xpoint|add:add_to_last_price }}" style="fill: none; stroke: black"/>
                            {% if position == 1 %}
                                <text x="155" y="{{ xpoint|add:place_of_buy }}" fill="red" font-size="{{ font_size_buy }}">{% trans "down" %}</text>
                            {% else %}
                                <text x="155" y="{{ xpoint|add:place_of_buy }}" fill="black" font-size="{{ font_size_buy }}">{% trans "down" %}</text>
                            {% endif %}
                        {% endfor %}

                        <!-- outcomes -->
                        {% for index, price, xpoint, position in GameTree %}
                            {% if position == 2 %}
                                <polyline points="150,{{ xpoint|add:45 }} 280,{{ xpoint|add:45 }}" style="fill: none; stroke: red"/>
                                <text x="185" y="{{ xpoint|add:40 }}" fill="red" font-size="{{ font_size_buy }}">{% trans "right" %}</text>
                            {% else %}
                                <polyline points="150,{{ xpoint|add:45 }} 280,{{ xpoint|add:45 }}" style="fill: none; stroke: black"/>
                                <text x="185" y="{{ xpoint|add:40 }}" fill="black" font-size="{{ font_size_buy }}">{% trans "right" %}</text>
                            {% endif %}
                        {% endfor %}
                        {% for str, xpoints in GTpayoffs_str %}
                            <a data-toggle="tooltip" data-placement="right" title="{{ tooltip_payoff }}">
                            {% if str == '(0.5, 2)' %}
                                <text class="gtoutcome" x="285" y="{{ xpoints|add:45 }}" fill="red" font-size="{{ font_size_payoff }}" font-weight="bold">{{ str }}</text>
                            {% else %}
                                <text class="gtoutcome" x="285" y="{{ xpoints|add:45 }}" fill="black" font-size="{{ font_size_payoff }}" font-weight="bold">{{ str }}</text>
                            {% endif %}
                            </a>
                        {% endfor %}
                        {% for str, xpoints in GTpayoffN %}
                            <a data-toggle="tooltip" data-placement="right" title="{{ tooltip_payoff }}">
                                <text class="gtoutcome" x="128" y="{{ xpoints|add:add_to_last_payoff }}" fill="black" font-size="{{ font_size_payoff }}" font-weight="bold">{{ str }}</text>
                            </a>
                        {% endfor %}

                    </svg>
                </div>

                <li>
                    If Player 1 chooses "down" in Decision 1, Player 2 also chooses "down" in Decision 2, but Player 1 then
                    chooses "right" in Decision 3, then
                    Player 1 will receive {{ payoff3_j|floatformat:0 }}
                    {{ exp_currency }} and Player 2 will receive {{ payoff3_i|floatformat:0 }} penny.
                </li>

                <div style="width: 80%; height:800px; margin-left: auto; margin-right: auto; margin-bottom: -100px;">
                    <svg width="100%" height="900px" style="transform: scale(.75); margin-top:-100px;">

                        <!-- nodes -->
                        {% for index, price, xpoint, position in GameTree %}
                            <text class="gtprice" x="0" y="{{ xpoint|add:50 }}" transform="rotate(-30 5,{{ xpoint }})" fill="black" font-size="{{ font_size_price }}">{% trans "Decision" %} {{ position }}</text>
                            <a data-toggle="tooltip" data-placement="left" title="{{ tooltip_price }}">
                            {% if position == 3 %}
                                <text class="gtprice" x="85" y="{{ xpoint|add:50 }}" fill="red" font-size="{{ font_size_price }}">{% trans "Player" %} {{ index }}</text>
                            {% else %}
                                <text class="gtprice" x="85" y="{{ xpoint|add:50 }}" fill="black" font-size="{{ font_size_price }}">{% trans "Player" %} {{ index }}</text>
                            {% endif %}
                            </a>
                            {% if position == 3 %}
                                <circle cx="150" cy="{{ xpoint|add:45 }}" r="5" fill="red" />
                            {% else %}
                                <circle cx="150" cy="{{ xpoint|add:45 }}" r="5" fill="black" />
                            {% endif %}
                            <polyline points="150,{{ xpoint|add:40 }} 150,{{ xpoint|add:add_to_last_price }}" style="fill: none; stroke: black"/>
                            {% if position <= 2 %}
                                <text x="155" y="{{ xpoint|add:place_of_buy }}" fill="red" font-size="{{ font_size_buy }}">{% trans "down" %}</text>
                            {% else %}
                                <text x="155" y="{{ xpoint|add:place_of_buy }}" fill="black" font-size="{{ font_size_buy }}">{% trans "down" %}</text>
                            {% endif %}
                        {% endfor %}

                        <!-- outcomes -->
                        {% for index, price, xpoint, position in GameTree %}
                            {% if position == 3 %}
                                <polyline points="150,{{ xpoint|add:45 }} 280,{{ xpoint|add:45 }}" style="fill: none; stroke: red"/>
                                <text x="185" y="{{ xpoint|add:40 }}" fill="red" font-size="{{ font_size_buy }}">{% trans "right" %}</text>
                            {% else %}
                                <polyline points="150,{{ xpoint|add:45 }} 280,{{ xpoint|add:45 }}" style="fill: none; stroke: black"/>
                                <text x="185" y="{{ xpoint|add:40 }}" fill="black" font-size="{{ font_size_buy }}">{% trans "right" %}</text>
                            {% endif %}
                        {% endfor %}
                        {% for str, xpoints in GTpayoffs_str %}
                            <a data-toggle="tooltip" data-placement="right" title="{{ tooltip_payoff }}">
                            {% if str == '(4, 1)' %}
                                <text class="gtoutcome" x="285" y="{{ xpoints|add:45 }}" fill="red" font-size="{{ font_size_payoff }}" font-weight="bold">{{ str }}</text>
                            {% else %}
                                <text class="gtoutcome" x="285" y="{{ xpoints|add:45 }}" fill="black" font-size="{{ font_size_payoff }}" font-weight="bold">{{ str }}</text>
                            {% endif %}
                            </a>
                        {% endfor %}
                        {% for str, xpoints in GTpayoffN %}
                            <a data-toggle="tooltip" data-placement="right" title="{{ tooltip_payoff }}">
                                <text class="gtoutcome" x="128" y="{{ xpoints|add:add_to_last_payoff }}" fill="black" font-size="{{ font_size_payoff }}" font-weight="bold">{{ str }}</text>
                            </a>
                        {% endfor %}

                    </svg>
                </div>

                <li>
                    If both players choose "down" in each of the eight decisions, then both players receive {{ payoff7_i|floatformat:0 }} {{ exp_currency }}.
                </li>

                <div style="width: 80%; height:800px; margin-left: auto; margin-right: auto; margin-bottom: -100px;">
                    <svg width="100%" height="900px" style="transform: scale(.75); margin-top:-100px;">

                        <!-- nodes -->
                        {% for index, price, xpoint, position in GameTree %}
                            <text class="gtprice" x="0" y="{{ xpoint|add:50 }}" transform="rotate(-30 5,{{ xpoint }})" fill="black" font-size="{{ font_size_price }}">{% trans "Decision" %} {{ position }}</text>
                            <a data-toggle="tooltip" data-placement="left" title="{{ tooltip_price }}">
                            {% if index == 8 %}
                                <text class="gtprice" x="85" y="{{ xpoint|add:50 }}" fill="red" font-size="{{ font_size_price }}">{% trans "Player" %} {{ index }}</text>
                            {% else %}
                                <text class="gtprice" x="85" y="{{ xpoint|add:50 }}" fill="black" font-size="{{ font_size_price }}">{% trans "Player" %} {{ index }}</text>
                            {% endif %}
                            </a>
                            {% if index == 8 %}
                                <circle cx="150" cy="{{ xpoint|add:45 }}" r="5" fill="red" />
                            {% else %}
                                <circle cx="150" cy="{{ xpoint|add:45 }}" r="5" fill="black" />
                            {% endif %}
                            <polyline points="150,{{ xpoint|add:40 }} 150,{{ xpoint|add:add_to_last_price }}" style="fill: none; stroke: red"/>
                            <text x="155" y="{{ xpoint|add:place_of_buy }}" fill="red" font-size="{{ font_size_buy }}">{% trans "down" %}</text>
                        {% endfor %}

                        <!-- outcomes -->
                        {% for index, price, xpoint, position in GameTree %}
                            <polyline points="150,{{ xpoint|add:45 }} 280,{{ xpoint|add:45 }}" style="fill: none; stroke: black"/>
                            <text x="185" y="{{ xpoint|add:40 }}" fill="black" font-size="{{ font_size_buy }}">{% trans "right" %}</text>
                        {% endfor %}
                        {% for str, xpoints in GTpayoffs_str %}
                            <a data-toggle="tooltip" data-placement="right" title="{{ tooltip_payoff }}">
                            <text class="gtoutcome" x="285" y="{{ xpoints|add:45 }}" fill="black" font-size="{{ font_size_payoff }}" font-weight="bold">{{ str }}</text>
                            </a>
                        {% endfor %}
                        {% for str, xpoints in GTpayoffN %}
                            <a data-toggle="tooltip" data-placement="right" title="{{ tooltip_payoff }}">
                                <text class="gtoutcome" x="128" y="{{ xpoints|add:add_to_last_payoff }}" fill="red" font-size="{{ font_size_payoff }}" font-weight="bold">{{ str }}</text>
                            </a>
                        {% endfor %}

                    </svg>
                </div>

            </ul>
        </p>

        <p class="instrheading">
            Procedure
        </p>
        <p class="instrpar">
            You will play the game <b>{{ num_repetitions|apnumber }} times</b> in total.
            This means that there will be {{ num_repetitions|apnumber }} rounds.
            In each round, you will be randomly matched with {{ num_playersminus1|apnumber }} other participant.
            Your position in the game (Player 1 or Player 2) will be randomly determined only once and will stay
            the same throughout the study.
        </p>
        <p class="instrpar">
            At the end of the study, your payoff from <b>one</b> of the {{ num_repetitions|apnumber }} will be
            randomly selected. You will receive this randomly selected payoff as a <b>bonus payment</b>.
        </p>
        <p class="instrpar">
            <div class="alert alert-danger">
                Please note that you have only a limited time to decide once it is your turn to make a decision.
                Therefore, please do not change to other tabs or activities during this study.
                We cannot approve your submission if you got timed out for one of your decisions.
            </div>
        </p>


    </div>
    </div>


          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <input name="trials" id="trials" type="number" readonly="readonly" style="visibility: hidden;">

{% endblock %}


{% block scripts %}

<script>

    var trials = 1;

    function validateForm() {
      let cq1 = parseFloat(document.getElementById("cq1").value);
      let cq2 = parseFloat(document.getElementById("cq2").value);
      let cq3 = parseFloat(document.getElementById("cq3").value);
      let cq4 = parseFloat(document.getElementById("cq4").value);
      let cq5 = parseFloat(document.getElementById("cq5").value);
      if (cq1 == 1 & cq2 == 0 & cq3 == 4 & cq4 == 2 & cq5 == 64) {
          document.getElementById("trials").value = trials;
          document.getElementById("checkdone").click();
      }
      else {
          trials = trials + 1;
          document.getElementById("trials").value = trials;
          alert("Please read all instructions carefully and make sure you understand the task. Try again!");
      }
    }

</script>

{% endblock %}