{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}
{% load humanize %}
{% load i18n %}


{#--- STYLES ---------------------------------------------------------------------------------------------------------#}

{% block styles %}
    <link href="{% static 'ipg_seq/css/custom_instructions.css' %}" rel="stylesheet"/>
    <link href="{% static 'ipg_seq/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{#--- TITLE ----------------------------------------------------------------------------------------------------------#}

{% block title %}
    {% trans "Good bye" %}
{% endblock %}


{#--- CONTENT --------------------------------------------------------------------------------------------------------#}

{% block content %}

    <div class="container">

        <hr>

        <div class="card">
            <div class="card-header">
                You decided not to participate in this study.
            </div>
            <div class="card-body">
                <p>Please return the study on Prolific to avoid a rejection.</p>
            </div>
        </div>

    </div>

{% endblock %}
