{% extends "global/Page.html" %}
{% load otree static %}
{% load humanize %}
{% load i18n %}


{#--- SCRIPTS --------------------------------------------------------------------------------------------------------#}

{% block scripts %}

    {% if Constants.enforce_consistency == True %}
        {% if Constants.one_choice_per_page == False and Constants.order == 'ascending' %}
            <script src="{% static 'ipg_seq/js/consistency_ascending.js' %}"></script>
        {% elif Constants.one_choice_per_page == False and Constants.order == 'descending' %}
            <script src="{% static 'ipg_seq/js/consistency_descending.js' %}"></script>
        {% endif %}
    {% endif %}

    <script>
        function CaptureRelevantBuy() {
            var relevant_buy = document.getElementsByName({{ relevant_buy_str|json }}).value;
            document.getElementById("RelevantBuy").value = relevant_buy;
        }
    </script>

{% endblock %}


{#--- STYLES ---------------------------------------------------------------------------------------------------------#}

{% block styles %}
    <link href="{% static 'ipg_seq/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{#--- TITLE ----------------------------------------------------------------------------------------------------------#}

{% block title %}
    {% blocktrans trimmed %}
        Round {{ repetition }}: Decision
    {% endblocktrans %}
{% endblock %}


{#--- CONTENT --------------------------------------------------------------------------------------------------------#}

{% block content %}

    <div class="card">

        <!-- Header: Question whether to buy if <one_price_per_page = True>; otherwise 'Please make a decision' -->
        <div class="card-header">
            {% if one_choice_per_page == True %}
                You have been matched with {{ num_playersminus1|apnumber }} other participants and have been randomly selected to be Player {{ playerid }}.
            {% else %}
                {% blocktrans trimmed %}
                    Please make a decision.
                {% endblocktrans %}
            {% endif %}
        </div>

        <div class="card-body">

            <div class="alert alert-warning" role="alert">
                Please choose one of the two possible actions, "down" or "right", by clicking one of the two
                buttons below.
            </div>



    <!-- Game Tree  horizontal -->
    {% if graph == 'horizontal' %}
        <div style="margin-left: 20px; margin-right: auto">
            <svg width="800px" height="230px" style="transform: scale(0.9)">

                <!-- nodes -->
                {% for index, price, xpoint in GameTree %}
                    <a data-toggle="tooltip" data-placement="top" title="{{ tooltip_price }}">
                        <text class="gtprice" x="{{ xpoint }}" y="40" fill="black" font-size="{{ font_size_price }}">{% trans "Price" %} {{ index }}</text>
                    </a>
                    <circle cx="{{ xpoint|add:5 }}" cy="50" r="5" fill="black" />
                    <polyline points="{{ xpoint }},50 {{ xpoint|add:add_to_last_price }},50" style="fill: none; stroke: black"/>
                    <text x="{{ xpoint|add:place_of_buy }}" y="65" fill="black" font-size="{{ font_size_buy }}">right</text>
                {% endfor %}

                <!-- outcomes -->
                {% for index, price, xpoint in GameTree %}
                    <polyline points="{{ xpoint|add:5 }},50 {{ xpoint|add:5 }},180" style="fill: none; stroke: black"/>
                    <text x="{{ xpoint|add:7 }}" y="125" fill="black" font-size="{{ font_size_buy }}">down</text>
                {% endfor %}
                {% for str, xpoints in GTpayoffs_str %}
                    <a data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_payoff }}">
                        <text class="gtoutcome" x="{{ xpoints }}" y="200" fill="black" font-size="{{ font_size_payoff }}" font-weight="bold">{{ str }}</text>
                    </a>
                {% endfor %}
                {% for str, xpoints in GTpayoffN %}
                    <a data-toggle="tooltip" data-placement="bottom" title="{{ tooltip_payoff }}">
                        <text class="gtoutcome" x="{{ xpoints|add:add_to_last_payoff }}" y="55" fill="black" font-size="{{ font_size_payoff }}" font-weight="bold">{{ str }}</text>
                    </a>
                {% endfor %}

            </svg>
        </div>

    <!-- Game Tree  vertical -->
    {% elif graph == 'vertical' %}
        <div style="width: 80%; margin-left: auto; margin-right: auto">
            <svg width="100%" height="{{ height }}px" style="transform: scale(1)">

                <!-- nodes -->
                {% for index, price, xpoint in GameTree %}
                    <a data-toggle="tooltip" data-placement="left" title="{{ tooltip_price }}">
                        {% if index == playerid %}
                            <text class="gtprice" x="45" y="{{ xpoint|add:50 }}" fill="red" font-size="{{ font_size_price }}">Player {{ index }}</text>
                            <circle cx="110" cy="{{ xpoint|add:45 }}" r="5" fill="red" />
                            <polyline points="110,{{ xpoint|add:40 }} 110,{{ xpoint|add:add_to_last_price }}" style="fill: none; stroke: red"/>
                            <text x="115" y="{{ xpoint|add:place_of_buy }}" fill="red" font-size="{{ font_size_buy }}">down</text>
                        {% else %}
                            <text class="gtprice" x="45" y="{{ xpoint|add:50 }}" fill="black" font-size="{{ font_size_price }}">Player {{ index }}</text>
                            <circle cx="110" cy="{{ xpoint|add:45 }}" r="5" fill="black" />
                            <polyline points="110,{{ xpoint|add:40 }} 110,{{ xpoint|add:add_to_last_price }}" style="fill: none; stroke: black"/>
                            <text x="115" y="{{ xpoint|add:place_of_buy }}" fill="black" font-size="{{ font_size_buy }}">down</text>
                        {% endif %}
                    </a>
                {% endfor %}

                <!-- outcomes -->
                {% for index, price, xpoint in GameTree %}
                    {% if index == playerid %}
                        <polyline points="110,{{ xpoint|add:45 }} 240,{{ xpoint|add:45 }}" style="fill: none; stroke: red"/>
                        <text x="145" y="{{ xpoint|add:40 }}" fill="red" font-size="{{ font_size_buy }}">right</text>
                    {% else %}
                        <polyline points="110,{{ xpoint|add:45 }} 240,{{ xpoint|add:45 }}" style="fill: none; stroke: black"/>
                        <text x="145" y="{{ xpoint|add:40 }}" fill="black" font-size="{{ font_size_buy }}">right</text>
                    {% endif %}
                {% endfor %}
                {% for str, xpoints in GTpayoffs_str %}
                    <a data-toggle="tooltip" data-placement="right" title="{{ tooltip_payoff }}">
                        <text class="gtoutcome" x="245" y="{{ xpoints|add:45 }}" fill="black" font-size="{{ font_size_payoff }}" font-weight="bold">{{ str }}</text>
                    </a>
                {% endfor %}
                {% for str, xpoints in GTpayoffN %}
                    <a data-toggle="tooltip" data-placement="right" title="{{ tooltip_payoff }}">
                        <text class="gtoutcome" x="55" y="{{ xpoints|add:add_to_last_payoff }}" fill="black" font-size="{{ font_size_payoff }}" font-weight="bold">{{ str }}</text>
                    </a>
                {% endfor %}

            </svg>
        </div>
    {% endif %}

            <!-- Decision Table -->
            <div class="table-responsive">
            <table class="table">

                <!-- Table Header -->
                <thead>
                    <tr class="header">

                        <td class="price">
                            {% blocktrans trimmed %}
                                Your position in the game tree
                            {% endblocktrans %}
                        </td>
                        <td colspan="2"></td>
                        <td class="center" colspan="4">
                            {% blocktrans trimmed %}
                                What action do you want to choose?
                            {% endblocktrans %}
                        </td>
                    </tr>
                </thead>

                <!-- Table Body -->
                <tbody>
                    {% for index, price in prices %}
                    <tr>

                        <td class="price">
                            Player {{ playerid }}
                        </td>

                        <td colspan="2"></td>

                        <!-- radio select form fields -->
                        {% if buttons == False or one_choice_per_page == False %}

                            <td class="option_left">
                                <label class="btn btn-light" for="buy{{ index }}">
                                    {% trans "down" %}
                                </label>
                            </td>

                            <td class="formfield">
                                <input type="radio" name="buy_{{ index }}" id="buy{{ index }}" value="1" required>
                            </td>
                            <td  class="formfield">
                                <input type="radio" name="buy_{{ index }}" id="dbuy{{ index }}" value="0" required>
                            </td>

                            <td class="option_right">
                                <label class="btn btn-light" for="dbuy{{ index }}">
                                    {% trans "right" %}
                                </label>
                            </td>

                        <!-- button form fields -->
                        {% else %}

                            <td class="button_left">
                                <button class="btn btn-primary btn-table" name="buy_{{ index }}" value="1">down</button>
                            </td>
                            <td class="button_right">
                                <button class="btn btn-primary btn-table" name="buy_{{ index }}" value="0">right</button>
                            </td>

                        {% endif %}

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
            </div>
        </div>

        </div>

    {% if buttons == False or one_choice_per_page == False %}
        <!-- Next Button if <buttons = False> -->
        <div onClick="CaptureRelevantBuy()" style="text-align: right; padding-top: 5px">
            <button class="btn btn-primary">Next</button>
        </div>
    {% endif %}

{% endblock %}
