{% extends "global/Page.html" %}
{% load otree static %}


{% block content %}

<button id="moveon" style="display: none"></button>

{% endblock %}


{%  block scripts %}

    <script>

        window.onload = function() {
          document.getElementById("moveon").click();;
        };

    </script>

{% endblock %}