{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{#--- STYLES ---------------------------------------------------------------------------------------------------------#}

{% block styles %}
    <link href="{% static 'ipg_seq/css/custom.css' %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
{% endblock %}


{#--- TITLE ----------------------------------------------------------------------------------------------------------#}

{% block title %}
    {% trans "Questionnaire 4/4" %}
{% endblock %}

{#--- CONTENT --------------------------------------------------------------------------------------------------------#}

{% block content %}

    <!-- Panel: Question(s) ------------------------------------------------------------------------------------ -->

    <div class="card">
        <div class="card card-header">
            {% blocktrans trimmed %}
                Please answer the following questions.
            {% endblocktrans %}
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-7 col-md-7">
                        {% trans "What is your age?" %}
                    </div>
                    <div class="col-5 col-md-5">
                        <div class="input-group input-group">
                            <input type="number" step="1" min="17" class="form-control" name="age" required>
                            <div class="input-group-append">
                                <div class="input-group-text"><span class="input-group-addon">{% trans "years" %}</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-7 col-md-7">
                        {% trans "What is your gender?" %}
                    </div>
                    <div class="col-5 col-md-5">
                        <div class="btn-toolbar">
                            <select class="form-control" name="female" required>
                                <option disabled selected value>
                                    - {% trans "Select an Option" %} -
                                </option>
                                <option value="0">
                                    {% trans "Male" %}
                                </option>
                                <option value="1">
                                    {% trans "Female" %}
                                </option>
                                <option value="2">
                                    {% trans "Other" %}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-7 col-md-7">
                        {% trans "How much total combined money did all members of your household earn in 2020?" %}
                    </div>
                    <div class="col-5 col-md-5">
                        <div class="btn-toolbar">
                            <select class="form-control" name="income" required>
                                <option disabled selected value>
                                    - {% trans "Select an Option" %} -
                                </option>
                                <option value="0">
                                    {% trans "$0 – $9,999" %}
                                </option>
                                <option value="1">
                                    {% trans "$10,000 – $19,999" %}
                                </option>
                                <option value="2">
                                    {% trans "$20,000 – $29,999" %}
                                </option>
                                <option value="3">
                                    {% trans "$30,000 – $39,999" %}
                                </option>
                                <option value="4">
                                    {% trans "$40,000 – $49,999" %}
                                </option>
                                <option value="5">
                                    {% trans "$50,000 – $59,999" %}
                                </option>
                                <option value="6">
                                    {% trans "$60,000 – $69,999" %}
                                </option>
                                <option value="7">
                                    {% trans "$70,000 – $79,999" %}
                                </option>
                                <option value="8">
                                    {% trans "$80,000 – $89,999" %}
                                </option>
                                <option value="9">
                                    {% trans "$90,000 – $99,999" %}
                                </option>
                                <option value="10">
                                    {% trans "$100,000 or more" %}
                                </option>
                                <option value="-1">
                                    {% trans "Prefer not to say" %}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-7 col-md-7">
                        {% trans "What is the highest level of your education?" %}
                    </div>
                    <div class="col-5 col-md-5">
                        <div class="btn-toolbar">
                            <select class="form-control" name="education" required>
                                <option disabled selected value>
                                    - {% trans "Select an Option" %} -
                                </option>
                                <option value="0">
                                    {% trans "Compulsory school" %}
                                </option>
                                <option value="1">
                                    {% trans "Apprenticeship" %}
                                </option>
                                <option value="2">
                                    {% trans "Technical college" %}
                                </option>
                                <option value="3">
                                    {% trans "High school" %}
                                </option>
                                <option value="4">
                                    {% trans "University" %}
                                </option>
                                <option value="-1">
                                    {% trans "Prefer not to say" %}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-5 col-md-7">
                        {% blocktrans trimmed %}
                            Have you invested in conventional financial products (e.g. stocks, funds, etc.) in the last 5 years?
                        {% endblocktrans %}
                    </div>
                    <div class="col-5 col-md-3">
                        <div class="btn-toolbar">
                            <select class="form-control" name="investment" required>
                                <option disabled selected value>
                                    - {% trans "Select an Option" %} -
                                </option>
                                <option value="0">
                                    {% trans "No" %}
                                </option>
                                <option value="1">
                                    {% trans "Yes" %}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-2 col-md-2">
                        <input type="text" class="form-control" name="whichinvestment" placeholder="{% trans "Which type?" %}">
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-5 col-md-7">
                        {% blocktrans trimmed %}
                            Have you invested in bitcoin or any other cryptocurrency in the last 5 years?
                        {% endblocktrans %}
                    </div>
                    <div class="col-5 col-md-3">
                        <div class="btn-toolbar">
                            <select class="form-control" name="investmentcrypto" required>
                                <option disabled selected value>
                                    - {% trans "Select an Option" %} -
                                </option>
                                <option value="0">
                                    {% trans "No" %}
                                </option>
                                <option value="1">
                                    {% trans "Yes" %}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-2 col-md-2">
                        <input type="text" class="form-control" name="whichcrypto" placeholder="{% trans "Which cryptocurrencies?" %}">
                    </div>
                </div>
                </div>
            </div>
        <br>
    </div>

    <div style="text-align: right; padding-top: 5pt">
        {% next_button %}
    </div>

{% endblock %}
