{% extends "global/Page.html" %}
{% load otree static %}
{% load humanize %}
{% load i18n %}


{#--- STYLES ---------------------------------------------------------------------------------------------------------#}

{% block styles %}
    <link href="{% static 'ipg_seq/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{#--- TITLE ----------------------------------------------------------------------------------------------------------#}

{% block title %}
    {% blocktrans trimmed %}
        End of the study
    {% endblocktrans %}
{% endblock %}


{#--- CONTENT --------------------------------------------------------------------------------------------------------#}

{% block content %}

    <div class="card">

        <div class="card-body">

            <p>
                Round {{ random_round }} was randomly selected for your bonus payment.
                In this round, your payoff was {{ bonuspayment }} pence.
            </p>
            <p>
                <b>Your bonus payment in this study is therefore {{ bonuspayment }} pence.</b>
            </p>
            <br>
            <p>
                Thank you for participating in this study!
            </p>

            <p>
                Please leave some feedback if there is anything you want to tell us about this study:
            </p>
            <div class="input-group">
              <textarea class="form-control" name="feedback" aria-label="With textarea"></textarea>
            </div>

        </div>

        <div class="card-footer center">
            Please click the "Complete study"-button below to complete the study and go back to Prolific.
        </div>

    </div>

    <div style="text-align: right; padding-top: 5px">
        <button class="btn btn-primary">
            Complete study
        </button>
    </div>


{% endblock %}


