{% extends "global/Page.html" %}
{% load staticfiles otree %}
{% load i18n %}


{#--- STYLES ---------------------------------------------------------------------------------------------------------#}

{% block styles %}
    <link href="{% static 'ipg_seq/css/custom.css' %}" rel="stylesheet"/>
{% endblock %}


{#--- TITLE ----------------------------------------------------------------------------------------------------------#}

{% block title %}
    {% trans "Questionnaire 3/4" %}
{% endblock %}


{#--- CONTENT --------------------------------------------------------------------------------------------------------#}

{% block content %}

    <!-- Panel: Question(s) ------------------------------------------------------------------------------------ -->

    <div class="card">
        <div class="card card-header">
            {% blocktrans trimmed %}
                Please answer the following questions.
            {% endblocktrans %}
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        Suppose you had $100 in a savings account and the interest rate was 2% per
                        year. After 5 years, how much do you think you would have in the account if you
                        left the money to grow:
                    </div>
                </div>
                <div class="row">
                    <div class="col-2 center">
                        <input type="radio" name="finlit_1" value="0" id="finlit_1_0" required>
                        <br>
                        <label class="btn btn-light" for="finlit_1_0">{% trans "More than $102" %}</label>
                    </div>
                    <div class="col-2 center">
                        <input type="radio" name="finlit_1" value="1" id="finlit_1_1" required>
                        <br>
                        <label class="btn btn-light" for="finlit_1_1">{% trans "Exactly $102" %}</label>
                    </div>
                    <div class="col-2 center">
                        <input type="radio" name="finlit_1" value="2" id="finlit_1_2" required>
                        <br>
                        <label class="btn btn-light" for="finlit_1_2">{% trans "Less than $102" %}</label>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-2 center">
                        <input type="radio" name="finlit_1" value="3" id="finlit_1_3" required>
                        <br>
                        <label class="btn btn-light" for="finlit_1_3">{% trans "Do not know" %}</label>
                    </div>
                    <div class="col-2 center">
                        <input type="radio" name="finlit_1" value="4" id="finlit_1_4" required>
                        <br>
                        <label class="btn btn-light" for="finlit_1_4">{% trans "Refuse to answer" %}</label>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        {% blocktrans trimmed %}
                            Imagine that the interest rate on your savings account was 1% per year and
                            inflation was 2% per year. After 1 year, how much would you be able to buy with the
                            money in this account ?
                        {% endblocktrans %}
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row">
                    <div class="col-2 center">
                        <input type="radio" name="finlit_2" value="0" id="finlit_2_0" required>
                        <br>
                        <label class="btn btn-light" for="finlit_2_0">{% trans "More than today" %}</label>
                    </div>
                    <div class="col-2 center">
                        <input type="radio" name="finlit_2" value="1" id="finlit_2_1" required>
                        <br>
                        <label class="btn btn-light" for="finlit_2_1">{% trans "Exactly the same" %}</label>
                    </div>
                    <div class="col-2 center">
                        <input type="radio" name="finlit_2" value="2" id="finlit_2_2" required>
                        <br>
                        <label class="btn btn-light" for="finlit_2_2">{% trans "Less than today" %}</label>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-2 center">
                        <input type="radio" name="finlit_2" value="3" id="finlit_2_3" required>
                        <br>
                        <label class="btn btn-light" for="finlit_2_3">{% trans "Don't know" %}</label>
                    </div>
                    <div class="col-2 center">
                        <input type="radio" name="finlit_2" value="4" id="finlit_2_4" required>
                        <br>
                        <label class="btn btn-light" for="finlit_2_4">{% trans "Refuse to answer" %}</label>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-12">
                        {% blocktrans trimmed %}
                            Please tell us whether this statement is true or false. ‘Buying a single company’s
                            stock usually provides a safer return than a stock mutual fund’.
                        {% endblocktrans %}
                    </div>
                    <div class="col-2"></div>
                </div>
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-2 center">
                        <input type="radio" name="finlit_3" value="0" id="finlit_3_0" required>
                        <br>
                        <label class="btn btn-light" for="finlit_3_0">{% trans "True" %}</label>
                    </div>
                    <div class="col-2 center">
                        <input type="radio" name="finlit_3" value="1" id="finlit_3_1" required>
                        <br>
                        <label class="btn btn-light" for="finlit_3_1">{% trans "False" %}</label>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-2 center">
                        <input type="radio" name="finlit_3" value="2" id="finlit_3_2" required>
                        <br>
                        <label class="btn btn-light" for="finlit_3_2">{% trans "Don't know" %}</label>
                    </div>
                    <div class="col-1"></div>
                    <div class="col-2 center">
                        <input type="radio" name="finlit_3" value="3" id="finlit_3_3" required>
                        <br>
                        <label class="btn btn-light" for="finlit_3_3">{% trans "Refuse to answer" %}</label>
                    </div>
                </div>
                </div>
            </div>
        <br>
    </div>

    {{ form.errors }}

    <div style="text-align: right; padding-top: 5pt">
        {% next_button %}
    </div>

{% endblock %}
