{% extends 'otree/WaitPage.html' %}
{% load otree %}
{% load i18n %}


{% block title %}
    {{ title_text }}
{% endblock %}


{% block content %}

    <p>
        Please wait for the other participants.
    </p>

{% endblock %}

{% block scripts %}

    <script type="text/javascript">
        timeout = setTimeout("location.reload(true);", 5000);
    </script>

{% endblock %}